{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 100,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"endOfLine": "lf",
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed",
	"embeddedLanguageFormatting": "auto",
	"trimTrailingWhitespace": true
}
