{
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"tabWidth": 1,
	"useTabs": true,
	"printWidth": 80,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"endOfLine": "lf",
	"proseWrap": "always",
	"htmlWhitespaceSensitivity": "strict",
	"quoteProps": "consistent",
	"embeddedLanguageFormatting": "auto",
	"trimTrailingWhitespace": true
}
