@import 'tailwindcss';

@theme {
	--text-basic: 1rem;
	--text-big: 1.5rem;
	--text-title: 2rem;
	--color-main: #372aac;
}

body {
	@apply bg-neutral-950 text-white w-[100vw] h-[100vh] overflow-clip flex;
}

button {
	@apply bg-main
  hover:shadow-md shadow-black/50 transition-all
  w-fit px-3 py-1.5
  cursor-pointer hover:scale-105
  rounded-xl text-big;
}

button:disabled,
input:disabled {
	@apply opacity-50 cursor-not-allowed;
}

input {
	@apply w-fit;
}

h1 {
	@apply text-3xl font-bold tracking-wider
}
