/* @import url(https://db.onlinewebfonts.com/c/6ab539c6fc2b21ff0b149b3d06d7f97c?family=Minecraft+Regular); */
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import 'tailwindcss';

@theme {
	--font-mono: monospace, 'Minecraft Regular';
	--font-main: 'Outfit';
	--text-basic: 1rem;
	--text-big: 1.5rem;
	--text-title: 2rem;
}

body {
	@apply bg-neutral-950 text-white font-main w-[100vw] h-[100vh] overflow-clip flex;
}

button {
	@apply bg-indigo-800
  hover:shadow-md shadow-black/50 transition-all
  w-fit px-3 py-1.5
  cursor-pointer hover:scale-105
  rounded-xl text-big;
}

button:disabled,
input:disabled {
	@apply opacity-50 cursor-not-allowed;
}

input {
	@apply w-fit;
}

h1 {
	@apply text-3xl font-bold tracking-wider
}
